<%= simple_form_for(@test2k) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :tmp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
