<h1>Listing test2ks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Tmp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test2ks.each do |test2k| %>
  <tr>
    <td><%= test2k.name %></td>
    <td><%= test2k.age %></td>
    <td><%= test2k.tmp %></td>
    <td><%= link_to 'Show', test2k %></td>
    <td><%= link_to 'Edit', edit_test2k_path(test2k) %></td>
    <td><%= link_to 'Destroy', test2k, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test2k', new_test2k_path %>
