<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test2k.name %>
</p>

<p>
  <b>Age:</b>
  <%= @test2k.age %>
</p>

<p>
  <b>Tmp:</b>
  <%= @test2k.tmp %>
</p>


<%= link_to 'Edit', edit_test2k_path(@test2k) %> |
<%= link_to 'Back', test2ks_path %>
