<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @title %></div>
    <div class="panel-body">
      <div class="col-md-8">
        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
            <%= f.input :name, placeholder: '名称',label: '名称', hint: '用户的登陆名称' %>
            <%= f.input :email , placeholder: '邮箱',label: '邮箱', hint: ''%>
            <%= f.input :qq , placeholder: 'QQ',label: 'QQ', hint: ''%>
            <%= f.input :tel , placeholder: '电话',label: '电话', hint: ''%>
           <div class="col-md-2 col-md-offset-5">
            <%= f.button :submit ,@title+"用户"%>
            </div>
        <% end %>
        </div>
          <div class="col-md-4">
            <ul class="easyui-tree">
              <li>
                <span>My Documents</span>
                <ul>
                  <li data-options="state:'closed'">
                    <span>Photos</span>
                    <ul>
                      <li>
                        <span>Friend</span>
                      </li>
                      <li>
                        <span>Wife</span>
                      </li>
                      <li>
                        <span>Company</span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <span>Program Files</span>
                    <ul>
                      <li>Intel</li>
                      <li>Java</li>
                      <li>Microsoft Office</li>
                      <li>Games</li>
                    </ul>
                  </li>
                  <li>index.html</li>
                  <li>about.html</li>
                  <li>welcome.html</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
