<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom.name %>
</p>

<p>
  <strong>Linkman:</strong>
  <%= @custom.linkMan %>
</p>

<p>
  <strong>Mainman:</strong>
  <%= @custom.mainMan %>
</p>

<p>
  <strong>Level:</strong>
  <%= @custom.level %>
</p>

<p>
  <strong>Linktel:</strong>
  <%= @custom.linkTel %>
</p>

<p>
  <strong>Maintel:</strong>
  <%= @custom.mainTel %>
</p>

<p>
  <strong>Customdesc:</strong>
  <%= @custom.customDesc %>
</p>

<p>
  <strong>Customlove:</strong>
  <%= @custom.customLove %>
</p>

<p>
  <strong>Opername:</strong>
  <%= @custom.operName %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @custom.addr %>
</p>

<%= link_to 'Edit', edit_custom_path(@custom) %> |
<%= link_to 'Back', customs_path %>
