<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @title %></div>
    <div class="panel-body">
            <%= simple_form_for @section, html: {class: 'form-horizontal'},wapper: :horizontal_form   do |f| %>

            <%= f.error_notification %>

            <%= f.input :name, placeholder: '名称' %>

            <%= f.input :url, placeholder: '地址' %>

            <%= f.input :sort  %>
           <div class="col-md-2 col-md-offset-5">
             <%= f.button :submit, '提交'%>
           </div>
        <% end %>
      </div>
    </div>
    </div>