<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @title %></div>
    <div class="panel-body">
      <%= simple_form_for @role, html: {class: 'form-horizontal'},wapper: :horizontal_form   do |f| %>

          <%= f.error_notification %>

          <%= f.input :rName,label:'角色名称', placeholder: '角色名称' %>

          <%= f.input :rDesc,label:'描述', placeholder: '描述' %>

          <div class="col-md-2 col-md-offset-5">
            <%= f.button :submit, '提交'%>
          </div>
      <% end %>
    </div>
  </div>
</div>